<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Demo BookMark</a>
    <a href="../assets/Extension.zip">Download</a>
  </div>
</nav>

<ngx-datatable   class="bootstrap"  [rows]="rows" rowHeight="auto"  [columnMode]="ColumnMode.force"
 id="client-listing">

 
 <ngx-datatable-column name="URL" >
  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
    {{value}}
  </ng-template>
</ngx-datatable-column>

<ngx-datatable-column name="Note" >
  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
      {{value}}
  </ng-template>
</ngx-datatable-column>

<ngx-datatable-column name="Delete" [width]="10">
  <ng-template ngx-datatable-cell-template let-value="value">
    Delete
  </ng-template>
</ngx-datatable-column>

</ngx-datatable>